node_modules
dist
build
.env
.env.*
pnpm-lock.yaml
.DS_Store
coverage

/generated/prisma
node_modules

*.tgz

# local sqlite files
*.sqlite
*.db
*.sqlite3

# build/test artifacts
**/dist/
**/node_modules/
**/coverage/
**/.vite/
**/.vitest/
**/test-results/
**/playwright-report/
**/*.tsbuildinfo

# local db
**/*.sqlite
**/*.db
**/*.sqlite3